.checkbox label::before {

  border: 1px solid #BBB;

}

.login-img-logo-content {

  min-height: 1px;
  width: 100%;

}

.login-content {

  margin: -5vh 0;
  width: 100%;
  padding: 0 8%;

}
.login-logo-content {

  margin-bottom: 4vh;

}

.login-logo {

  max-width: 100%;
  max-height: 82px;

}

.register-content {

  margin-top: 0 !important;

}