.father-vertical-align {

  position: relative;

}

.item-vertical-absolute-align {

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.item-horizontal-absolute-align {

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

.item-full-absolute-align {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

}

.item-fixed {

  position: fixed;

}

.margin-center {

  margin: auto;

}

.text-center {

  text-align: center;

}

.text-right {

  text-align: right;

}

.hidden {

  display: none;

}

//Gera classes z-index até um total de 10 Exemplo: z-index-7
@for $i from 1 through 20 {

  .z-index-#{$i} {

    z-index: #{$i};

  }

}
