{{#> base }}
    {{> AppSidebar/sidebar charts-chartjs=this }}
    <div class="app-main__outer">
        <div class="app-main__inner">
            {{> AppMain/page-title }}
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-xs-12" style="padding-bottom: 25px;">
                            <div  style="margin-bottom: 25px;">
                                <h4>Adicionar Produto</h4>
                            </div>
                            <div class="row col-12 col-xs-12">
                                <div class="col-md-3 col-12 col-xs-12 no-padding">
                                    <div class="label-input pull-left">
                                        Nome:
                                    </div>
                                    <div class="pull-left"><input class="form-control" type="text"></div>
                                </div>
                                <div class="col-md-3 col-12 col-xs-12 no-padding">
                                    <div class="label-input pull-left">
                                        Código do produto:
                                    </div>
                                    <div class="pull-left"><input class="form-control" type="text"></div>
                                </div>
                                <div class="col-md-3 col-12 col-xs-12 no-padding">
                                    <div class="label-input pull-left">
                                        Quantidade:
                                    </div>
                                    <div class="pull-left"><input class="form-control" type="text"></div>
                                </div>
                                <div class="col-md-3 col-12 col-xs-12 no-padding">
                                    <div class="label-input pull-left">
                                        Validade:
                                    </div>
                                    <div class="pull-left"><input class="form-control" type="text"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class='col-12 col-xs-12' style="margin-top: 25px;">
                                    <button class="mb-2 mr-2 btn btn-focus">Adicionar</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-xs-12" style="padding-bottom: 25px;">
                            <div  style="margin-bottom: 25px;">
                                <h4>Adicionar Produto</h4>
                            </div>
                            <div class="row col-12 col-xs-12 no-padding">
                                <div class="col-md-3 col-12 col-xs-12 col-md-3">
                                    <div class="label-input pull-left">
                                        Código/Nome:
                                    </div>
                                    <div class="pull-left"><input class="form-control" type="text"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class='col-12 col-xs-12 col-md-6 no-padding' style="margin-top: 25px;">
                                    <button class="mb-2 mr-2 btn btn-focus">Pesquisar</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-xs-12 col-md-10" style="margin: auto; text-align: center;">
                            <table class="mb-0 table">
                                <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Produto</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">236</th>
                                    <td>Biscoito Aimoré</td>
                                    <td><button class="mb-2 mr-2 btn btn-light">Remover</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">416</th>
                                    <td>Biscoito Aimoré</td>
                                    <td><button class="mb-2 mr-2 btn btn-light">Remover</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">15</th>
                                    <td>Biscoito Aimoré</td>
                                    <td><button class="mb-2 mr-2 btn btn-light">Remover</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">115</th>
                                    <td>Biscoito Aimoré</td>
                                    <td><button class="mb-2 mr-2 btn btn-light">Remover</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .no-padding {

            padding-left: 5px !important;
            padding-right: 5px !important;

        }
    </style>
{{/ base }}