{{#> base }}
    {{> AppSidebar/sidebar charts-chartjs=this }}
    <div class="app-main__outer">
        <div class="app-main__inner">
            {{> AppMain/page-title }}
            <div class="row">
                <div class="col-12 col-xs-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body"><h5 class="card-title">Simple table</h5>
                            <table class="mb-0 table">
                                <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Produto</th>
                                    <th>Quantidade para compra</th>
                                    <th>Quantidade total após compra</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">236</th>
                                    <td>Biscoito Aimoré</td>
                                    <td>5</td>
                                    <td>25</td>
                                </tr>
                                <tr>
                                    <th scope="row">416</th>
                                    <td>Biscoito Aimoré</td>
                                    <td>5</td>
                                    <td>25</td>
                                </tr>
                                <tr>
                                    <th scope="row">15</th>
                                    <td>Biscoito Aimoré</td>
                                    <td>5</td>
                                    <td>25</td>
                                </tr>
                                <tr>
                                    <th scope="row">115</th>
                                    <td>Biscoito Aimoré</td>
                                    <td>5</td>
                                    <td>25</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/ base }}